@model IEnumerable<RecebaFacil.Portal.Models.Encomenda.MinhasEncomendasViewModel>

<div id="container-pv-encomendas">
    <div class="row">
        <div class="col">
            <h4>Minhas encomendas</h4>
            <div class="table-responsive overflow-auto" style="max-height: 600px;">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Data Pedido</th>
                            <th>Número Pedido</th>
                            <th>Nota Fiscal</th>
                            <th>Situação</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DataPedido.ToShortDateString()</td>
                                <td>@item.NumeroPedido</td>
                                <td>@item.NotaFiscal</td>
                                <td>@item.TipoMovimento</td>
                                <td>
                                    <a href="@item.UrlEncomendaDetalhe">detalhes</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>